* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-s{
    font-size: 18px;
    color: #E5E7EB;
}

body{
    /*height: 100vh;*/
    /*display: flex;*/
    /*flex-flow: column wrap;*/
}

.header,
.footer{
    background-color: #1F2937;
}

.footer,
.content{
    color: #E5E7EB;
    font-size: 18px;
}

quote{
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

/*.footer{*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 52px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: 16px;*/
/*}*/

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.image-box{
    background-color: grey;
    width: 300px;
    height: auto;
}

.images{
    width: 200px;
    height: auto;
    border: 5px #3882F6 solid;
    border-radius: 20px;
}