*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    /*width: 100%;*/
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    background-color: #1F2937;
}

.logo{
    display: flex;
    padding: 10px;
    color: #E5E7EB;
}

.links-container{
    display: flex;
    align-self: flex-end;
}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
}

.main-content{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    color: #E5E7EB;
    gap: 60px;
    padding: 50px 0 70px 0;
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /*align-items: center;*/
    max-width: 550px;
}

.image-box{
    ;
}

.splash-image{
    min-width: 400px;
    height: auto;
    object-fit: cover;
    max-width: 500px;
    /*border: gray solid 4px;*/
    border: solid 5px #624CAB;
    border-radius: 10px;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #E5E7EB;
}

.info-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 12px 0;
    color: #1F2937;
    width: 100%;
    background-color: #0E7C7B
}

.showcase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    width: 100%;
    padding: 0 0 50px 0;
    background: #0E7C7B;
}

.images{
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    border: solid 5px #758ECD;
    border-radius: 10px;
    object-fit: cover;
}

.subtitles{
    font-size: 18px;
    color: #E5E7EB;
}

.show-sub{
    font-weight: bolder;
}

.info{
    max-width: 300px;
}

.quote{
    display: flex;
    background-color: #E5E7EB;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.quote-text{
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author{
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    align-self: flex-end;

}

.cta{
    display: flex;
    /*height: 40px;*/
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 40%;
    border-radius: 15px;
}

.cta-text{
    width: 400px;
}

.cta-button{
    display: inline-block;
}

.reg-button{
    color: #3882F6;
}

.footer{
    height: 20px;
    /*display: flex;*/
    font-size: 14px;
    text-align: center;
    color: #E5E7EB;
    background-color: #1F2937;
    position: fixed;

    bottom: 0;
    width: 100%;
    padding: 14px 0;
}



.footer-text{
    
}